pyVISA==1.9.1
PyYAML==3.13
Pypubsub==4.0.0
XlsxWriter==1.1.0
backports.functools-lru-cache==1.5
cycler==0.10.0
enum34==1.1.6
et-xmlfile==1.0.1
future==0.16.0
iso8601==0.1.12
jdcal==1.4
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.1
openpyxl==2.5.7
pip==18.0
pyparsing==2.2.1
git+https://github.com/sunspec/pysunspec@v.1.0.8#egg=pysunspec
python-dateutil==2.7.3
pytz==2018.5
serial==0.0.69
setuptools==40.2.0
six==1.11.0
typing==3.6.6
wheel==0.31.1
wxPython==4.0.3
wxmplot==0.9.30
