numpy
pandas
cycler
et-xmlfile
future
iso8601
jdcal
kiwisolver
matplotlib
openpyxl
Pillow
prettytable
PyDAQmx
pymodbus
pyparsing
pyserial
git+https://github.com/sunspec/pysunspec@master#egg=pysunspec
python-dateutil
pytz
PyVISA
PyYAML
serial
six
typing
wxmplot
wxPython==4.0.7.post2
XlsxWriter
natsort