cycler==0.10.0
et-xmlfile==1.0.1
future==0.17.1
iso8601==0.1.12
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.1.0
numpy==1.16.4
openpyxl==2.6.2
pandas==0.24.2
Pillow==6.0.0
prettytable==0.7.2
PyDAQmx==1.4.2
pymodbus==2.2.0
pyparsing==2.4.0
pyserial==3.4
git+https://github.com/sunspec/pysunspec@Master#egg=pysunspec
python-dateutil==2.8.0
pytz==2019.1
PyVISA==1.9.1
PyYAML==5.1.1
serial==0.0.97
six==1.12.0
typing==3.7.4
wxmplot==0.9.34
wxPython==4.0.6
XlsxWriter==1.1.8
natsort==6.0.0